@import "../../../../mixins";

.navbar__wrapper {
  color: #fff;
  padding: 2rem 4rem;
  @include displayFlex(column, unset, unset, unset);

  h1 {
    font-size: var(--text-4xl);
    line-height: 1.8;
  }

  p {
    font-size: var(--text-2xl);
  }
  background-color: var(--nav-bg);
}

@media screen and (max-width: 1366px) {
  .navbar__wrapper {
    padding: 1.5rem 3rem;
    h1 {
      font-size: var(--text-2xl);
    }

    p {
      font-size: var(--text-lg);
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar__wrapper {
    padding: 1rem 2rem;
    h1 {
      font-size: var(--text-2xl);
    }

    p {
      font-size: var(--text-lg);
    }
  }
}
