@import "../../../../../mixins";

.select__tag__wrapper {
  @include displayFlex(column, unset, center, 0.5rem);
  position: relative;
  label {
    font-size: var(--text-base);
    font-weight: 600;
  }

  input {
    padding: 0.7rem;
    border-radius: 5px;
    border: 0.5px gray solid;
    // border-bottom: 0px;
  }

  .drop_down_wrapper {
    // @include displayFlex(column, flex-start, center, 0.5rem);
    position: absolute;
    top: 120%;
    left: 0;
    width: 95%;
    background-color: white;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    span {
      position: absolute;
      top: 0%;
      right: 0;
      z-index: 10;
      cursor: pointer;
    }

    ul {
      li {
        list-style: none;
        cursor: pointer;
      }
    }

    max-height: 200px;
    overflow-y: scroll;
    padding: 1rem;

    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

.type__one__select {
  input {
    border-radius: 10px 0px 0px 10px;
  }
}

.type__two__select {
  input {
    border-radius: 0px 10px 10px 0px;
  }
}

@media screen and (max-width: 700px) {
  .select__tag__wrapper {
    width: 100%;
    input {
      border-radius: 5px !important;
    }
  }
}
